/*-------------- Ecran principal --------------*/
@font-face {
    font-family: 'ChineseFont';
    src: url('../font/go3v2.ttf');
}

body {
    background: url('../img/dojo.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* HEADER */

.header {
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: 'ChineseFont';
    font-size: 2.5em;
    color: #E5AD26;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.infoButton {
    position: absolute;
    filter: invert(84%) sepia(16%) saturate(2071%) hue-rotate(341deg) brightness(88%) contrast(106%);
    width: 30px;
    top: 10vh;
    right: 20px;
}

/* MAIN */

.robotResult {
    height: 20vh;
}

.animationFight {
    height: 24vh;
}

.playerChoice{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.playerChoice>img {
    filter: invert(15%) sepia(12%) saturate(2995%) hue-rotate(340deg) brightness(93%) contrast(93%);
    width: 25%;
    object-fit: contain;
    align-items: end;
}

.scoreGame {
    height: 16vh;
}

/* FOOTER */

.footer {
    height: 5vh;
}



















@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}